.well.well-mini
  %ul.nav.nav-list.bs-docs-sidenav
    = active_li "Request Permissions",  permissions_path(:request_permissions)
    = active_li "Get Access Token",     permissions_path(:get_access_token)
